* {
	margin: 0;
	padding: 0;
}

html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset,
p {
	margin: 0;
	padding: 0;
	border: none;
}

a,
input,
select,
textarea {
	outline: none;
	margin: 0;
	padding: 0;
}

img,
fieldset {
	border: 0;
}

a {
	outline: none;
	border: none;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	vertical-align: middle;
	border: none;
	outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	margin: 0;
	padding: 0;
}

div,
h1,
h2,
h3,
h4,
span,
p,
input,
form,
img,
hr,
img,
a {
	margin: 0;
	padding: 0;
	border: none;
}

.clear {
	clear: both;
}

body {
	margin: 0px;
	font-family: 'roboto_condensedregular';
	padding: 0px;
}

.counter_bg {
margin: 0 auto;
width: 100%;
margin-top: 50px;
border: 5px solid #dfdfdf;
display: inline-block;
padding: 50px;
}

.counter_search {
    float: left;
    width: 100%;
	text-align: center;
}

.counter_search label
{
	font-size:20px;
	font-weight:normal;
	
}
.counter_search input {
    border: 1px solid #dfdfdf;
    padding: 11px 30px 15px 30px;
}

.counter_search button {
    border-radius: 0px;
    background: #54b8a1;
    border: 0px;
     padding: 13px 23px 13px 23px;
    text-transform: uppercase;
    font-size: 16px;
	margin-left:10px;
}

.counter_time {
    float: left;
    width: 100%;
    margin-top: 30px;
	text-align: center;
	margin-bottom: 24px;
}

.counter_time span
{
	font-size:20px;
	color:black;
	font-style:italic;
	
}
.counter_btn h2 {
    font-size: 77px;
    font-weight: bold;
    margin-top: 10px;
}

.counter_btn button
{
	background:none;
	border:2px solid black;
	color:black;
	width:50px;
	height:50px;
	border-radius:100px;
	
}

.counter_bottom {
    width: 257px;
    margin: 0 auto;
    position: relative;
    clear: both;
}

.one_btn {
    width: 75px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    background: #6c6c6d;
    padding-top: 8px;
    color: white;
	float:left;
    font-size: 19px;
}

.one_btn_1 {
    width: 75px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    background: none;
    padding-top: 8px;
    color: black;
    font-size: 19px;
	float:left;
	margin-left:10px;
}